
/*html, body {*/
  /*border: dashed 5px red;*/
  /*height: 100%;*/
/*}*/
.w3-opacity {
  opacity: 0.9;
}

.w3-hover-light-orange:hover {
  background-color: #FEA723 !important;
}


body {
  font-family: 'Roboto', Arial, sans-serif;
}

.horiz-menu {
    display: none;
  }

.showcase {
  /*text-align: center;*/
  background-color: #000;
  height: 100vh;  
  overflow: hidden;
  color: white;
  min-height: 549px;
}

.hamburger {
    position: absolute;
    top: 23px;
    left: 5px;
    height: 43px;
    z-index: 1;
  }

.showcase h1 {
  font-family: 'Russo One', Arial, sans-serif;
  text-transform: uppercase; 
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  font-size: 1.6em;  
}

.showcase hr {
  width:142px;
  margin:auto;
  border-width:2px;
  border-color:#ff9800;
  /*padding-bottom: 20px;*/
}

.showcase p {
  font-size: 1.51em;
  padding-bottom: 2%;
}

.showcase button {
  font-size: 1.6em;
  /*margin-bottom: 30px;*/
}



.section hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.section h3 {
  font-weight: 600;
}

ul {
  list-style: none;  
  padding-left: 0;
}

#what-we-do li+li {
  margin-top: 25px;
}
#what-we-do ul {
  padding-left: 0px;
}


@media (min-device-width : 600px) {

  #what-we-do ul {
    padding-left: 30px;
  }

  .horiz-menu {
      display: initial;
      /*height: 43px;*/
    }  
  .hamburger {
    display: none;
  }

  .showcase h1 {
    font-size: 4em;   
  }

  .showcase {
      background: url(pic-darkier.jpg) no-repeat center center;
      background-position: center;
      background-size: cover;
    }
}

@media (min-device-width : 1000px) {
  #what-we-do ul {
    padding-left: 130px;
  }
}



/*#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: 0.85;
}*/


/* FONTELLO FONTS */

@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?87241171');
  src: url('/font/fontello.eot?87241171#iefix') format('embedded-opentype'),
       url('/font/fontello.woff?87241171') format('woff'),
       url('/font/fontello.svg?87241171#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?87241171#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 2.23em;
   color: grey; 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-clock-1:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */


.fntlo {
    font-family: "fontello";
    font-style: normal;
    /*font-weight: normal;*/
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    /*width: 1em;*/
    margin-right: .2em;
    text-align: center;
    opacity: .7;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1em;*/
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/

    [data-av_icon]:before {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
content: attr(data-av_icon);
speak: none;
font-size: 24px;
}
}