
* {
  margin: 0;
  padding: 0;
}


body { 
  font-family: 'Open Sans', Arial, sans-serif;  
  letter-spacing: 0.02rem; 
  color: #454545;
  background-color: #F7F6EA;
  overflow-y:scroll;
}


.timeline-Tweet-text {
  font-size: 16px;
}

div#wrap {
  /*max-width: 700px;*/
  margin: 0 auto;
  max-width: 750px;
  margin: 0 auto;
}

div#content {
  display: flex;
  justify-content: space-between;
}
div#notes {
  max-width: 610px;  
}

header { 
  font-family: 'Montserrat', Arial, sans-serif;
  margin-top: 27px;
  margin-bottom: 27px;
  font-size: 1.5em;
}

footer { 
  margin-top: 37px;
  margin-bottom: 67px;
}

article { 
  text-align: justify;
  background-color: #FBFBFB;
  margin-bottom: 20px;
  padding: 10px;
  border: 0.1em solid #E0E0E0;
  border-radius: 5px;
}

ul { 
  list-style-type: none;
  /*padding-left: 0px;*/
  margin-top: 0px;
}

blockquote { 
  border-left: 3px solid #f0f0f0;
  padding-left: 0.7em;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

blockquote.main-quote { 
  border: none;
  padding-left: 0;
  font-style: italic;
  margin-left: 20px;
}

h1,h2 {
  /*margin: 10 0 10 0;*/
  letter-spacing: 0.0001px;
}

p { 
  margin: 10px 10px;
  font-size: 22px;
  letter-spacing: 0.0003px;
  line-height: 1.4;
}

.centered { 
  text-align: center; 
}

p.to-comments {
  margin: 10px 0px 10px 0px;
  text-align: center;
}

p#fortune-cookie { 
  font-size: 27px;
  /*font-weight: bold;*/
}

hr {
   /*margin-top: 36px;*/
   margin-bottom: 18px;
   visibility: hidden;
}

article a {
  color: #FF69B4;
  text-decoration: underline;
  font-size: 0.9em;
}

nav .active-page {
  color: #FF00FF;
  border-bottom: 0.1em solid #FF00FF;
}

a:hover { color: #FF00FF; }

a {
  color: #9242C4;
  text-decoration: none;
}

div#fb-page {
  height: 1800px;
  align-self: flex-start; /* prevents vertical fill up */
  min-width: 340px;
  /*max-width: 340px;*/
  max-height: 1800px;
  background-color: #FBFBFB;
  border: 0.1em solid #E0E0E0;
  border-radius: 5px;
}


/*and (orientation : portrait)*/
/*@media only screen */
@media (max-device-width : 600px), (orientation: portrait) {
  div#content {
    flex-direction: column-reverse;
    /*align-items: flex-start;*/
  }
  
  div#notes {
    /*align-self: center;*/
    min-width: 100%;
  }

  div#fb-page {
      min-width: 360px;
      max-height: 600px;
      align-self: center;
      margin-bottom: 30px;
    }

  article {
    padding: 0px;
  }
  p {
    font-size: 150% !important;
  }
}