body { 
  font-family: 'Open Sans', Arial, sans-serif;  
  letter-spacing: 0.02rem; 
  color: #454545;
  background-color: #F4F4F4;
  overflow-y:scroll;
}

div#wrap {
  width: 720px;
  margin: 0 auto;
}

header { 
  font-family: 'Montserrat', Arial, sans-serif;
  margin-top: 27px;
  margin-bottom: 27px;
  font-size: 1.5em;
}

article { 
  text-align: justify;
  background-color: #FCFCFC;
  margin-bottom: 20px;
  padding: 20px;
  border: 0.1em solid #E0E0E0;
  border-radius: 5px;
}

ul { 
  list-style-type: none;
  padding-left: 0px;
}

blockquote { 
  border-left: 3px solid #f0f0f0;
  padding-left: 0.7em;
  font-style: italic;
  margin-left: 20px;
  margin-bottom: 20px;
}

blockquote.main-quote { 
  border: none;
  padding-left: 0;
  font-style: italic;
  margin-left: 20px;
}

h1,h2 {
  margin: 10 0 10 0;
  letter-spacing: 0.0001em;
}

p { font-size: 18px; }

.centered { 
  text-align: center; 
}

p.to-comments {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

p#fortune-cookie { 
  font-size: 27px;
  font-weight: bold;
}

hr {
   margin-top: 36px;
   margin-bottom: 36px;
   visibility: hidden;
}

article a {
  color: #FF69B4;
  text-decoration: underline;
  /*font-size: 0.9em;*/
}

a:hover { color: #FF00FF; }

a {
  color: #9242C4;
  text-decoration: none;
}

